---
layout: default
permalink: /
---
<script src="https://www.eventbrite.es/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Pedido completo');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '164297635651',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-164297635651',
        onOrderComplete: exampleCallback
    });
</script>

  {% include hero.html %}

  {% include about.html %}

  {% include entradas.html %}

  {% include concurso.html %}

  {% include statistic.html %}

  {% include latest-news.html %}

  {% include rockstar-speakers.html %}

  {% include twitter-feed.html %}

  {% include partners.html %}


  {% comment %}
    {% include subscribe.html %}
    {% include tickets.html %}
    {% include tickets-2.html %}
  {% endcomment %}
