<!-- Begin Paticipa Section -->
<section id="entradas" class="entradas image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.entradasTitle }}</h3>
            <h5>{{ site.entradasText }} <a href="https://www.eventbrite.es/e/entradas-apiaddictsdays-2021-164297635651?aff=web" target="_blank"></a></h5>
            <br>
            <a class="btn btn-primary waves-effect waves-button waves-light waves-float" href="{{ site.entradasButtonLink }}" target="_blank">{{ site.entradasButtonText }}</a>
        </div>
    </div>
</section>
<!-- End Participa Section -->